* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Banner styles */
.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    color: whitesmoke;
}

.banner-description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.header {
    background-image: url('../images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    text-align: center;
    height: 669px;
}

.btn-primary {
    color: #ECECEC;
    font-weight: 800px;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FF8787;
    font-weight: 50px;
    border: 0;
    padding: 18px 35px;
}

.banner {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Main styles */
.main {
    text-align: center;
}

/* about section styles */
.about {
    margin-top: 130px;
}

.section-title {
    margin-top: 130px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.section-description {
    margin-top: 20px;
    font-size: 18px;
    color: #707070;
    margin-bottom: 50px;

}

.about-info-conatiner {
    display: flex;
    justify-content: center;
    gap: 22px;

}

.about-info {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 43px 22px;
}

.amount {
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

.Amount-tk {
    font-size: 18px;
    color: #B3B3B3;

}

.line {
    border-bottom: 1px solid #DADADA;
    display: block;
    height: 0px;
    width: 765px;
    margin: 0 auto;
    left: 338px;
    top: 1199.5px;
    margin-bottom: 30px;
}

.amount-title {
    margin-bottom: 9.5px;
    margin-top: 60px;
}

.Article {
    max-width: 691px;
    margin: 0 auto;
}

.title {
    margin-top: 130px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.title-description {
    margin-top: 20px;
    font-size: 18px;
    color: #707070;
    margin-bottom: 50px;
}

/* Projects styles */

.Container-projects {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.project-container {
    max-width: 360px;
    max-height: 352px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 30px;

}

.project-title {
    margin-top: 31.73px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.project-description {
    text-align: left;
    color: #707070;
}

.image-icon {
    display: block;
}

/* Article banner styles */
.article-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 83px;
    text-align: left;
    margin: 130px 200px;
}

.Banner-style {
    max-width: 493px;
    color: #FFFFFF;
}

.article-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}

.article-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 20px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background: #FF5959;
    border-radius: 5px;
    padding: 16px;
}

/* Article banner styles-2 */
.article-banner-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 94px;
    text-align: left;
    max-width: 1032px 477px;
    margin: 100px 200px;
}

.Banner-style-2 {
    max-width: 482px;
    color: #FFFFFF;
}

/* Conculsion articles styles */
.article-conclusion {}

.conclusion-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-top: 130px;
}

.conclusion-description {
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 50px;
}

.Contact {
    background: #FFF4D6;
    margin: 0 auto;
    display: inline-table;
    padding: 76px 189px;
}

.mail {
    color: #AA9F9F;
    ;
    font-weight: 500;
    font-size: 16px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 5px 0px 0px 5px;
    padding: 14px 17px;
}

.button-primary {
    color: #FFFFFF;
    background: #FF5959;
    border: 1px solid #000000;
    border-radius: 0px 5px 5px 0px;
    padding: 14px 42px;
}

/* Footer part styles */
.footer-part {
    background: #0B0D17;;
    margin: 0 auto;
    padding: 43px 650px;
    text-align: center;
}

.footer-title {
    margin-top: 43px;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #FF5959;
    font-family: 'Lobster', cursive;
}

.footer-sub-title {
    margin-top: 24px;
    margin-bottom: 42px;
   color:  #D9DBE1;
   font-size: 14px;

}

